html,
body {
    height: 100%;
}

header {
    background-color: #f5f5f5;
}

footer {
    background-color: #f5f5f5;
}

.btn-primary {
    background-color: #e42956;
    border-color: #e42956;
}

.btn-primary:hover {
    background-color: #d42956;
    border-color: #d42956;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #d42956;
    border-color: #d42956;
}

.container {
    min-height: 70%;
    min-height: -webkit-calc(100% - 64px - 66px);
    min-height: -moz-calc(100% - 64px - 66px);
    min-height: calc(100% - 64px - 66px);
}

.nav li {
    line-height: 2.2rem;
}

.valid {
    border-color: #28a745;
}

.valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}
.error {
    border-color: #dc3545;
}

.error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 9, .25);
}